In [38]:
#1.웹 주소에서 CSV 파일 읽기

import pandas as pd

url="https://github.com/MyungKyuYi/AI-class/raw/main/mobile.csv"
df=pd.read_csv(url)
print(df.head())

   battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  m_dep  \
0            842     0          2.2         0   1       0           7    0.6
1           1021     1          0.5         1   0       1          53    0.7
2            563     1          0.5         1   2       1          41    0.9
3            615     1          2.5         0   0       0          10    0.8
4           1821     1          1.2         0  13       1          44    0.6

   mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  talk_time  \
0        188        2  ...         20       756  2549     9     7         19
1        136        3  ...        905      1988  2631    17     3          7
2        145        5  ...       1263      1716  2603    11     2          9
3        131        6  ...       1216      1786  2769    16     8         11
4        141        2  ...       1208      1212  1411     8     2         15

   three_g  touch_screen  wifi  price_range
0        0             0     1            1
1        1             1     0            2
2        1             1     0            2
3        1             0     0            2
4        1             1     0            1

[5 rows x 21 columns]

In [1]:
#2.로컬에서 csv파일 읽기
import pandas as pd

file_path="mobile.csv"
df=pd.read_csv(file_path)

print(df.head())

   battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  m_dep  \
0            842     0          2.2         0   1       0           7    0.6
1           1021     1          0.5         1   0       1          53    0.7
2            563     1          0.5         1   2       1          41    0.9
3            615     1          2.5         0   0       0          10    0.8
4           1821     1          1.2         0  13       1          44    0.6

   mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  talk_time  \
0        188        2  ...         20       756  2549     9     7         19
1        136        3  ...        905      1988  2631    17     3          7
2        145        5  ...       1263      1716  2603    11     2          9
3        131        6  ...       1216      1786  2769    16     8         11
4        141        2  ...       1208      1212  1411     8     2         15

   three_g  touch_screen  wifi  price_range
0        0             0     1            1
1        1             1     0            2
2        1             1     0            2
3        1             0     0            2
4        1             1     0            1

[5 rows x 21 columns]

In [3]:
#3.웹주소에서 xlsx파일읽기

import pandas as pd

url = "https://github.com/MyungKyuYi/AI-class/main/combined_dataset-1.xlsx"

# 엑셀 파일 읽기
df = pd.read_excel(url)

print(df.head())

,Num.,subject_ID,Sex(M/F),Age(year),Height(cm),Weight(kg),Systolic Blood Pressure(mmHg),Diastolic Blood Pressure(mmHg),Heart Rate(b/m),BMI(kg/m^2),...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,1,2,Female,45,152,63,161,89,97,27.268006,...,1766,1766,1766,1833,1833,1827,1827,1827,1754,1754
1,1,2,Female,45,152,63,161,89,97,27.268006,...,1985,1985,2026,2026,2026,1977,1977,1997,1997,1997
2,1,2,Female,45,152,63,161,89,97,27.268006,...,1942,1900,1900,1938,1938,1938,1924,1924,1929,1929
3,2,3,Female,50,157,50,160,93,76,20.284799,...,2073,2072,2072,2072,2051,2051,2036,2036,2036,2045
4,2,3,Female,50,157,50,160,93,76,20.284799,...,2021,2010,2010,2010,2001,2001,2003,2003,2003,1989
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
652,218,418,Male,25,173,63,106,69,67,21.049818,...,2702,2671,2679,2675,2695,2703,2667,2662,2687,2635
653,218,418,Male,25,173,63,106,69,67,21.049818,...,2391,2362,2378,2363,2323,2355,2355,2395,2362,2367
654,219,419,Male,24,175,58,108,68,65,18.938776,...,2399,2463,2415,2406,2407,2447,2435,2422,2451,2379
655,219,419,Male,24,175,58,108,68,65,18.938776,...,3075,3091,3067,3051,3121,3135,3091,3103,3146,3151
656,219,419,Male,24,175,58,108,68,65,18.938776,...,2623,2627,2674,2670,2662,2647,2631,2611,2639,2623

In [ ]:
import pandas as pd
file_path="combined_dataset-1.xlsx"
df=pd.read_excel(file_path)

print(df.head())